.app-tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #908484;
}

.app-tab-item {
  float: left;
}

.app-tab-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.app-tab-item a:hover {
  background-color: #ada0a0;
}

.mask-input {
  width: 280px;
  height: 28px;
  padding: 0 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
}
